<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Сколько раз в сутки подзаводят куранты Спасской башни Кремля?</string>
	<string>Кто 1-м получил Нобелевскую премию по литературе?</string>
	<string>С какой буквы начинаются слова, опубликованные в 16-м томе последнего издания Большой советской энциклопедии?</string>
	<string>Кто из перечисленных был пажом во времена Екатерины II?</string>
	<string>Какой химический элемент назван в честь злого подземного гнома?</string>
	<string>В какой из этих столиц бывших союзных республик раньше появилось метро?</string>
	<string>Сколько морей омывают Балканский полуостров?</string>
	<string>Реки с каким названием нет на территории России?</string>
	<string>Что такое лобогрейка?</string>
	<string>Какой вид кавалерии предназначался для боевых действий как в конном, так и в пешем строю?</string>
</array>
</plist>
